Repository backendnanodegree/Devket, pull requests merged in 2022-11, with the labels that each got.

#5 Add TEMPLATE for pull request
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#7 FEAT : ADD HEADER TEMPLATE CSS AND IMAGES
  config/settings.py
  config/urls.py
  pocket/urls.py
  pocket/views.py
  static/css/home.css
  static/css/picto.css
  static/css/split.css
  static/images/home/pocket-audio-icon.a1b5c8915d82.svg
  static/images/home/pocket-colorful-books.026516da6bc5.svg
  static/images/home/pocket-home-articles.c31e77095a9a.png
  static/images/home/pocket-list-mobile.8316f5977cf6.png
  static/images/home/pocket-logo-light-mode.9a20614bbcba.svg
  static/images/home/pocket-tag-icon.384b16fcb98f.svg
  static/images/home/pocket-text-icon.b3b602691e01.svg
  templates/header.html
Labels: setting, html&css

#8 Add footer template
  pocket/urls.py
  pocket/views.py
  templates/footer.html
Labels: html&css

#9 Feature base
  pocket/urls.py
  pocket/views.py
  templates/base.html
  templates/footer.html
  templates/header.html
Labels: html&css

#10 Add home template and mapping url and template
  pocket/urls.py
  pocket/views.py
  templates/common/home.html
Labels: html&css

#11 Add 'Pillow' library to requirements.txt
  requirements.txt
Labels: documentation

#14 Add images for signup and main css
  static/css/main.css
  static/images/home/product_mockup2x.9ede6a7b02ceb90f0748e7f8f4b0e5ca.png
  static/images/signup/device-illus.268e84c812a3965b6c418fe9e4f520bb.svg
  static/images/signup/fx-logo.c7f232edd2abec3ae3cee45bf6dd38e8.svg
  static/images/signup/fxa-illus.681da4e1dde53661ce1b7d47050ac0fb.svg
  static/images/signup/paper-airplane-illus.acbbd472cf3ba5a658944bb8de82f45a.svg
  static/images/signup/pocket-logo-illus.0b427b060ff7fa4900b7aa4df21c368e.svg
  static/images/signup/pocket_logo@2x.68bc3f4883b64bbaf78f76138acc021e.png
  static/images/signup/product_mockup2x.9ede6a7b02ceb90f0748e7f8f4b0e5ca.png
  static/images/signup/signin_apple.e8bf1bfb0838841463bf750363003e2b.svg
  static/images/signup/signin_firefox.cf1ae650ea844f2bbc4a29e94190752e.svg
  static/images/signup/signin_google.26d7f4a77d1833450d4704effbaf3c2f.svg
Labels: documentation, html&css

#13 Add signup template and mapping url
  pocket/urls.py
  pocket/views.py
  templates/user/base.html
  templates/user/footer.html
  templates/user/header.html
  templates/user/signup.html
Labels: html&css

#16 Add html, static files, url, view about login, password
  pocket/urls.py
  pocket/views.py
  static/css/password.css
  static/images/home/pocket-logosmall-1816f9c8afe4d696dc77004564c4c210.png
  templates/user/base.html
  templates/user/header.html
  templates/user/login.html
  templates/user/password.html
Labels: feature, html&css

#18 Add template, css, img, urlpattern, view class for payment..
  pocket/urls.py
  pocket/views.py
  static/css/premium.css
  static/images/common/favicon.ico
  static/images/login/footer_socialicons@1x.png
  static/images/premium/border.svg
  static/images/premium/logo.svg
  templates/base.html
  templates/footer.html
  templates/header.html
  templates/premium/base.html
  templates/premium/header_after_login.html
  templates/premium/header_before_login.html
  templates/premium/payment.html
  templates/user/base.html
  templates/user/footer.html
  templates/user/header.html
Labels: documentation, feature, html&css

#19 Add mylist.css
  static/css/mylist.css
Labels: html&css

#20 Add: mylist_header.css
  static/css/mylist_header.css
Labels: html&css

#21 Add: mylist_nav.css
  static/css/mylist_nav.css
Labels: html&css

#22 Add: templates/mylist/base.html
  templates/mylist/base.html
Labels: html&css

#23 Add: templates/mylist/header.html
  templates/mylist/header.html
Labels: html&css

#24 Add templates/mylist/footer.html
  templates/mylist/footer.html
Labels: html&css

#25 Update models.py
  pocket/admin.py
  pocket/migrations/0002_auto_20221109_1226.py
  pocket/models.py
Labels: models

#26 Hotfix
  .DS_Store
  README.md
  pocket/views.py
Labels: hotfix

#28 FEAT: Rendering mylist view and bottom-toolbar under each item
  static/css/mylist/base.css
  static/css/mylist/body.css
  static/css/mylist/header.css
  static/css/mylist/nav.css
  static/js/common.js
  static/js/get-item-list.js
  templates/mylist/base.html
Labels: feature, html&css

#29 FEAT: Add api_url, view_url, View class
  pocket/urls.py
  pocket/views.py
Labels: feature

#33 Featuremodels
  .DS_Store
  .gitignore
  pocket/admin.py
  pocket/migrations/0003_auto_20221114_1224.py
  pocket/models.py
  pocket/serializers.py
  pocket/urls.py
  pocket/views.py
Labels: models

#34 Feature scrap
  pocket/decorator.py
  pocket/urls.py
  pocket/views.py
Labels: feature, api

#35 Merge develop branch to main branch
  .DS_Store
  .gitignore
  pocket/admin.py
  pocket/decorator.py
  pocket/migrations/0003_auto_20221114_1224.py
  pocket/models.py
  pocket/serializers.py
  pocket/urls.py
  pocket/views.py
  static/css/mylist/base.css
  static/css/mylist/body.css
  static/css/mylist/header.css
  static/css/mylist/nav.css
  static/js/common.js
  static/js/get-item-list.js
  templates/mylist/base.html
Labels: feature, html&css

#37 FEAT: Add to get site-list according to url
  pocket/serializers.py
  pocket/urls.py
  pocket/views.py
  static/js/api-url.js
  static/js/common.js
  static/js/get-item-list.js
  static/js/get-site-list.js
  templates/mylist/base.html
Labels: enhancement, api, html&css

#38 FEAT: add toolbar function and common function
  static/css/mylist/header.css
  static/js/common.js
  static/js/toolbar.js
  templates/mylist/base.html
  templates/mylist/header.html
Labels: html&css, javascript

#39 Merge main from develop
  pocket/serializers.py
  pocket/urls.py
  pocket/views.py
  requirements.txt
  static/css/mylist/header.css
  static/js/api-url.js
  static/js/common.js
  static/js/get-item-list.js
  static/js/get-site-list.js
  static/js/toolbar.js
  templates/mylist/base.html
  templates/mylist/header.html
Labels: documentation, feature, html&css, javascript

#41 FEAT: Add a function changeFavortieValue and code to change a title per a tab
  pocket/serializers.py
  pocket/urls.py
  pocket/views.py
  static/js/bottom-toolbar.js
  static/js/common.js
  static/js/get-site-list.js
Labels: enhancement, feature, api, javascript

#44 Feature bulktoolbar
  pocket/decorator.py
  pocket/urls.py
  pocket/views.py
  static/css/mylist/body.css
  static/css/mylist/header.css
  static/css/mylist/nav.css
  static/js/bottom-toolbar.js
  static/js/common.js
  static/js/get-site-list.js
  static/js/modal.js
  static/js/toolbar.js
  templates/mylist/base.html
Labels: invalid, feature, api, html&css, javascript

#46 ADD: add bulktoolbar Favorite function and add Tag function
  pocket/views.py
  static/css/mylist/base.css
  static/js/bottom-toolbar.js
  static/js/common.js
  static/js/get-site-list.js
  static/js/modal.js
  static/js/toolbar.js
Labels: api, html&css, javascript

#47 Add detail screen and add-ons
  pocket/urls.py
  pocket/views.py
  static/css/mylist/detail/detail.css
  static/css/mylist/detail/reset.css
  static/css/mylist/detail/sidebar.css
  static/js/detail-side-bar.js
  static/js/detail.js
  static/js/get-site-list.js
  templates/mylist/detail/detail.html
Labels: api, html&css, javascript

#48 ADD: add popup related bulk tag and all tag screen retrieve function
  pocket/decorator.py
  pocket/serializers.py
  pocket/urls.py
  pocket/views.py
  static/css/mylist/base.css
  static/js/api-url.js
  static/js/common.js
  static/js/get-site-list.js
  static/js/modal.js
  static/js/toolbar.js
  templates/mylist/base.html
Labels: api, html&css, javascript
