Repository backendnanodegree/Devket, pull requests merged in 2022-12, with the labels that each got.

#50 ADD: add payment feature
  config/settings.py
  pocket/iamport.py
  pocket/models.py
  pocket/serializers.py
  pocket/urls.py
  pocket/views.py
  static/css/modal.css
  static/css/password.css
  static/css/premium.css
  static/js/bottom-toolbar.js
  static/js/call-payment.js
  static/js/common.js
  static/js/get-site-list.js
  static/js/toolbar.js
  templates/premium/base.html
  templates/premium/header_after_login.html
  templates/premium/payment.html
Labels: enhancement, api, html&css, models, javascript

#52 ADD: add bulk tag select event and fix css and javascript import uri
  pocket/views.py
  static/css/home.css
  static/css/main.css
  static/css/password.css
  static/js/get-site-list.js
  templates/base.html
  templates/mylist/base.html
  templates/mylist/detail/detail.html
  templates/user/base.html
Labels: api, html&css, javascript

#53 FIX: svg error of bottom-toolbar
  static/js/bottom-toolbar.js
Labels: hotfix, javascript

#54 Feature webserver
  pocket/migrations/0004_auto_20221202_1545.py
  templates/common/home.html
  templates/mylist/header.html
Labels: documentation, html&css

#55 ADD: add signup and login function and fix models.py
  config/settings.py
  pocket/models.py
  pocket/serializers.py
  pocket/urls.py
  pocket/views.py
  requirements.txt
Labels: enhancement, models

#56 ADD : Feature updates and modifications associated with adding highlight features
  pocket/migrations/0005_auto_20221209_1745.py
  pocket/models.py
  pocket/serializers.py
  pocket/urls.py
  pocket/views.py
  static/css/mylist/detail/highlight.css
  static/js/api-url.js
  static/js/detail-side-bar.js
  static/js/detail.js
  static/js/get-site-list.js
  static/js/highlight.js
  templates/mylist/base.html
  templates/mylist/detail/detail.html
Labels: bug, feature, api, html&css, models, javascript

#57 Merge main with develop branch
  config/settings.py
  pocket/iamport.py
  pocket/migrations/0004_auto_20221202_1545.py
  pocket/migrations/0005_auto_20221209_1745.py
  pocket/models.py
  pocket/serializers.py
  pocket/urls.py
  pocket/views.py
  requirements.txt
  static/css/home.css
  static/css/main.css
  static/css/modal.css
  static/css/mylist/detail/highlight.css
  static/css/password.css
  static/css/premium.css
  static/js/api-url.js
  static/js/bottom-toolbar.js
  static/js/call-payment.js
  static/js/common.js
  static/js/detail-side-bar.js
  static/js/detail.js
  static/js/get-site-list.js
  static/js/highlight.js
  static/js/modal.js
  static/js/toolbar.js
  templates/base.html
  templates/common/home.html
  templates/mylist/base.html
  templates/mylist/detail/detail.html
  templates/mylist/header.html
  templates/premium/base.html
  templates/premium/header_after_login.html
  templates/premium/payment.html
  templates/user/base.html
Labels: enhancement, feature, api, hotfix, javascript

#59 ADD: add Simple JWT Token decode logic
  pocket/decorator.py
  pocket/serializers.py
  static/js/common.js
  static/js/detail-side-bar.js
  static/js/get-site-list.js
  templates/user/login.html
Labels: feature, html&css

#60 ADD: add user condition at CRUD function and fix source code
  pocket/decorator.py
  pocket/views.py
  static/css/header.css
  static/css/pocket-web-ui.css
  static/js/detail-side-bar.js
  static/js/detail.js
  static/js/get-site-list.js
  static/js/highlight.js
  static/js/toolbar.js
  templates/base.html
  templates/common/home.html
  templates/header.html
  templates/mylist/footer.html
  templates/mylist/header.html
Labels: api, html&css, javascript

#61 Refactor payment logic to apply login functionality using token
  pocket/models.py
  pocket/serializers.py
  pocket/urls.py
  pocket/views.py
  static/js/call-payment.js
  templates/header.html
  templates/premium/base.html
Labels: enhancement, html&css, javascript

#63 Docs
  README.md
Labels: documentation

#64 Develop
  README.md
Labels: documentation
